@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(paper.jpeg);

}

.container-flex {
    background: transparent;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    border: 3px dashed #380b61;
}

h2 {
    font-size: 24px;
    color: #380b61;
    margin-bottom: 15px;
}

.list-tugas {
    margin: 20px 0;
}

.list-tugas ol {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.list-tugas li {
    background: transparent;
    color: black;
    padding: 10px 15px;
    margin: 8px 0;
    font-weight: bold;
}


a {
    display: inline-block;
    margin-top: 20px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #380b61;
}
